body {

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container-center {
  max-width: 1200px;   
  margin: 0 auto;      
  padding: 0 20px;     
  box-sizing: border-box;
}

/* body {
  overflow-x: hidden !important;
 
}

#root {
  overflow-x: hidden !important;
} */
